<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
         <nav class="cl-effect-1">
           <h1><a>{{info.name}}</a></h1>
          </nav>
      </div>
     </div>
    <div class="row">
            <div class="col-md-4">
                <img class="hvr-push" ng-src="{{info.photo}}" width="300px" />
            </div>
            <div class="col-md-3">
                <h5><u>Body Stats:</u></h5>
                <br/> Height: {{info.height}}
                <br/> Weight: {{info.mass}}
                <br/> Hair Color: {{info.hair_color}}
                <br/> Eye Color: {{info.eye_color}}
                <br/>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5><u>Appears on Films:</u></h5>
                <div ng-repeat="item in info.films">
                    {{item}}
                </div>
                {{films}}
                </li>
            </div>
        </div>
    </div>
    <a ng-click="$back()" class="btn btn-danger">Back</a>
</div>
<br />
